@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'TimesDot';
    src: url('../fonts/Times-Roman.eotTimes-Roman.eot');
    src: url('../fonts/Times-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times-Roman.woff2') format('woff2'),
        url('../fonts/Times-Roman.woff') format('woff'),
        url('../fonts/Times-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    --topBarH: 82px;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	// font-family: $f-primary;
    font-optical-sizing: auto;
    font-style: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum" 1;
    // letter-spacing: .05em;
    letter-spacing: normal;
    color: $c-primary;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    margin: 0;
    // line-height: 1;
    font-size: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

strong, b {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

p {
    // @include fs-md;
    line-height: 1.33;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:only-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    // @media (max-width: $lg){
    //     // @include fs-sm;
    // }
}

// .small-title {
//     @include small-title;

//     .text-and-media & {
//         margin-bottom: .25em;
//     }
// }

