$gutter: 4rem;

$xs : 400px;
$sm : 576px;
$md: 768px;
$lg: 992px;
$xl: 1350px;
$xxl: 1700px;
$xxxl: 1850px;

$f-serif: "TimesDot", serif;
$f-sans-serif: "Inter", sans-serif;

// $l-spacing-serif: 1;
$l-spacing-sans-serif: 0;

$black: #000;
$white: #FFF;
$extra-light-grey: #FAFAFA;
$light-grey: #D9D9D9;
$dark-grey: #909090;

$beige: #b4917f;
$pink: #f586d7;

$c-primary: $beige;

// $f-w-400: 400;
// $f-w-500: 500;
// $f-w-520: 520;
// $f-w-600: 600;
// $f-w-700: 700;

$space-xxs: $gutter/2;
$space-xs: $gutter/3*2;
$space-sm: $gutter;
$space-md: $gutter/2*3;
$space-lg: $gutter * 2;
$space-xl: $gutter/2*5;
$space-2xl: $gutter*3;
$space-3xl: $gutter*5;
$space-4xl: $gutter*6;

$radius: 1.5rem;
