.barba-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $gutter clamp(1rem,5vw,20rem);
    z-index: 1000;

    &--is-sticky {
        position: sticky;
        top: 0;
        background: white;
    }

    h1 {
        font-size: 15vw;
        text-box: trim-start cap alphabetic;
        line-height: .95;
    }
}

.header-logo-link {
    display: block;
    width: 100%;
    max-width: 2000px;
}

.header-logo-svg {
    width: 100%;
    path {
        fill: $c-primary;
    }
}